{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% blocktrans %}MFY{% endblocktrans %}</title>
  <link rel="shortcut icon" href="{% static '/images/logo.png' %}" type="image/x-icon">


  <!-- fontawesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- CSS -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  <link rel="stylesheet" href="{% static '/css/pages.css' %}" />

    <style>
    .pagination {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      margin: 20px 0;
    }

    .pagination a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border: 1px solid #ddd;
      margin: 0 4px;
    }

    .pagination a:hover:not(.active) {
      background-color: #ddd;
    }

    .pagination a.active {
      background-color: #3d4789;
      color: white;
      border: 1px solid #3d4789;
    }
  </style>

</head>

<body>
  <div class="links-media">
    <i class="close fa fa-close"></i>
    <ul id="menu">
      <li>
        <a href="{% url 'index' %}">{% blocktrans %}BOSH SAHIFA{% endblocktrans %}</a>
      </li>
      <li>
        <a href="{% url 'nnt' %}">{% blocktrans %}NNT{% endblocktrans %}</a>
      </li>
      <li>
        <a href="{% url 'oav' %}">{% blocktrans %}OAV{% endblocktrans %}</a>
      </li>
      <li>
        <a href="{% url 'streets' %}">{% blocktrans %}MAHALLALAR{% endblocktrans %}</a>
      </li>
      <li>
        <a href="{% url 'blog' %}">{% blocktrans %}YANGILIKLAR{% endblocktrans %}</a>
      </li>
      
      <li>
        <a href="{% url 'docs' %}">{% blocktrans %}NORMATIV HUJJATLAR{% endblocktrans %}</a>
      </li>
      <li>
        <a href="{% url 'grant' %}">{% blocktrans %}GRANTLAR{% endblocktrans %}</a>
      </li>
    </ul>
  </div>
  <!-- top section -->
  <div class="top">
    <div class="top-left">
      <div class="logo">
        <img src="{% static 'images/logo2.png' %}" class="logo" alt="" style="width: 70px; height: 80px;">
      </div>
      <div>
            {% if language_code == 'uz' %}
            <h3>{{ index.title_uz }}</h3>
            {% elif language_code == 'ru' %}
            <h3>{{ index.title_ru }}</h3>
            {% else %}
            <h3>{{ index.title_en }}</h3>
            {% endif %}
        </div>
    </div>
    <div class="top-right">

      <div class="divider"></div>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-telegram"></i>
      <div class="divider"></div> <br />

      <div class="lang-menu">
        <style>
        .language-form {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 3px;
            background-color: #f8f9fa;
            width: 85px;
            height: 40px;
        }

        .language-select {
            padding: 3px;
            font-size: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
            cursor: pointer;
            width: 100%; /* Tanlov maydoni to'liq qo'llanilishi */
            background-color: #fff; /* Tanlov maydoni fon rangi */
        }

        .language-select option:checked {
            background-color: #f0f0f0;
        }
        </style>

<form action="{% url 'set_language' %}" method="post" class="language-form">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" onchange="this.form.submit()" class="language-select">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {% if language.code == 'uz' %}
                    🇺🇿UZ
                {% elif language.code == 'ru' %}
                    🇷🇺RU
                {% elif language.code == 'en' %}
                    🇺🇸EN
                {% endif %}
            </option>
        {% endfor %}
    </select>
</form>
      </div>

    </div>
  </div>

  <!-- menu section -->
  <nav class="nav">
    <div class="navbars">
      <div>
        <a href="{% url 'index' %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a>
        >
        <a href="{% url 'streets' %}">{% blocktrans %}Mahallalar{% endblocktrans %}</a>
      </div>
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="links">
      <ul id="menu">
        <li>
          <a href="{% url 'index' %}">{% blocktrans %}BOSH SAHIFA{% endblocktrans %}</a>
        </li>
        <li>
          <a href="{% url 'nnt' %}">{% blocktrans %}NNT{% endblocktrans %}</a>
        </li>
        <li>
          <a href="{% url 'oav' %}">{% blocktrans %}OAV{% endblocktrans %}</a>
        </li>
        <li>
          <a href="{% url 'streets' %}">{% blocktrans %}MAHALLALAR{% endblocktrans %} </a>
        </li>
        <li>
          <a href="{% url 'blog' %}">{% blocktrans %}YANGILIKLAR{% endblocktrans %}</a>
        </li>
        <li>
          <a href="{% url 'docs' %}">{% blocktrans %}NORMATIV HUJJATLA{% endblocktrans %}R</a>
        </li>
        <li>
          <a href="{% url 'grant' %}">{% blocktrans %}GRANTLAR{% endblocktrans %}</a>
        </li>
      </ul>
    </div>
  </nav>
 

<div class="newSearch">
    <form action="{% url 'streets' %}" method="get" class="search">
      <input type="text" name="q" placeholder="Search...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>



  <div class="streets">
    <div class="streetsWrapper">
  <div class="nntRight">
      <div class="nntLists">
        {% for i in city %}
        <a href="/streets/?city={{ i.id }}"><h2>{{ i.name }}</h2></a>
        {% endfor %}
      </div>
    </div>
      <div class="streetsContents">
        {% for i in street %}
        <div class="streetsContent">
          <h2>{% blocktrans %}Tuman(Shahar) Nomi{% endblocktrans %}: <b> {{ i.city.name }}</b></h2>
          <h2>{% blocktrans %}Aholisi{% endblocktrans %}: <b> {{ i.population}} </b></h2>
          <h2>{% blocktrans %}MFY lar soni{% endblocktrans %}: <b> {{ i.mfy_count }} </b></h2>
          <h2>{% blocktrans %}Hududi{% endblocktrans %}: <b> {{ i.area }} </b></h2>
        </div>
        {% endfor %}

        
      </div>
    </div>
  </div>

      <div class="pagination">
        {% if city.has_previous %}
            <a href="?q={{ request.GET.q }}&page=1">&laquo;</a>
        {% endif %}
        {% for num in city.paginator.page_range %}
            {% if city.number == num %}
                <a class="active" href="?q={{ request.GET.q }}&page={{ num }}">{{ num }}</a>
            {% elif num > city.number|add:-3 and num < city.number|add:3 %}
                <a href="?q={{ request.GET.q }}&page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if city.has_next %}
            <a href="?q={{ request.GET.q }}&page={{ city.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </div>

  <section class="contact">
    <div class="contactWrapper">

      <div class="contactLeft">
        <div class="contactNumber">
        </div>
        <div class="contactIcons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-telegram-plane"></i>
        </div>
        {% for i in title %}

        <h2>{{ i.title }}</h2>
        {% endfor %}
        <p>{% blocktrans %}© 2024 Barcha huquqlar himoyalangan.{% endblocktrans %}</p>
      </div>
      <div class="contactRight">
        <h2>{% blocktrans %}Savollaringiz bormi?{% endblocktrans %}</h2>
        <input type="text" placeholder="Ismingiz" id="">
        <input type="text" placeholder="Telefon raqam" id="">
        <button>{% blocktrans %}Yuborish{% endblocktrans %} <i class="fa-regular fa-paper-plane"></i></button>
      </div>
    </div>
  </section>


  <script src="{% static '/js/script.js' %}"></script>


</body>

</html>